<!DOCTYPE html>
<html>
<head>
<!--wolfgang.Ji 6/22/2018 -->
<title>About Me</title>


<style>
table {
font-family:Georgia;
font-size:20px;
color:black;
border-collapse:collapse;
}

th {
font-weight: bold;
}


td, th {
border:1px solid black;
text-align:center;
padding:5px;
}

</style>

</head>


<body style="background-color:">



<div id="menu" style="color:black;background-color:white;height:50px;width:800px;">
 <nav>
  <a href="C:/Users/probert.rany/Downloads/wolfgang.Ji Final project page1">My favorite food</a>|
  <a href="C:/Users/probert.rany/Downloads/wolfgang.Ji Final project page2">My favorite video game</a>|
  <a href="C:/Users/probert.rany/Downloads/wolfgang.Ji Final project page3">My favorite subject</a>|
  <a href="C:/Users/probert.rany/Downloads/wolfgang.Ji Final project page4">My LEGO</a>|
  <a href="C:/Users/probert.rany/Downloads/wolfgang.Ji Final project page5">Story board</a>|
 </nav>
</div>

<div id="container" style="width:1200px">
<div id="header" style="color:white;background-color:DarkBlue;">
     <h1 style="margin-bottom:0;">My favorite video game</h1>
</div>

<div id="men" style="color:black;background-color:white;height:2400px;width:200px;float:left;">
<nav>
 <ul>
  <li><a href="#introduce">introduce</a></li>
  <li><a href="#class">My class in wow</a></li>
  <li><a href="#item">The most interesting item in wow</a></li>
 </ul>
 </nav>
</div>

<div id="introduce" style="color:white;background-color:Blue;height:800px;width:1000px;float:left;">
<h1>introduce</h1>
<p>World of warcraft. To many people in the world, wow is their second world. It’s same to me.
Traveling in the world which is full of magical power like magic, elements, witchcraft.
And miraculous creatures like werewolf, dragon, Goblin, elf, dwarf.
I think this is my dream world, I can enjoy many epic battle and fight against enemies with my friends. For Azeroth!</p>

<a href="https://en.wikipedia.org/wiki/World_of_Warcraft" style="color:red;">wow1</a>
<img src="http://media.blizzard.com/wow/media/wallpapers/bosses/lich-king/lich-king-1920x1200.jpg" style="height:300px;width:400px;float:center;">
<a href="https://worldofwarcraft.com/en-us/" style="color:red;">wow2</a>
<img src="https://media.mmo-champion.com/images/news/2012/october/mists-of-pandaria3-1920x1080.jpg" style="height:300px;width:400px;float:center;">
</div>

<div id="class" style="color:white;background-color:Blue;height:800px;width:1000px;float:left;">
<h1>My class in wow</h1>
<p>I have played many kinds of classes in wow, warrior, paladin, hunter and Death Knight. However, my favorite class is Warrior.
 Warriors equip themselves carefully for combat and engage their enemies head-on, letting attacks glance off their heavy armor.
 They use diverse combat tactics and a wide variety of weapon types to protect their more vulnerable allies.
 Warriors must carefully master their rage – the power behind their strongest attacks – in order to maximize their effectiveness in combat.<br/></p>

 <a href="https://worldofwarcraft.com/en-us/game/classes/warrior" style="color:red;">warrior1</a>
 <img src="http://i0.sinaimg.cn/gm/2014/0613/U10130P115DT20140613101532.jpg" alt="the symbol of warrior" style="height:300px;width:400px;float:center;">
 <a href="https://en.wikipedia.org/wiki/World_of_Warcraft" style="color:red;">warrior2</a>
 <img src="https://cdna.artstation.com/p/assets/images/images/000/677/154/large/sam-hu-1680.jpg?1430534853" style="height:300px;width:400px;float:center;">
</div>

<div id="item" style="color:white;background-color:Blue;height:800px;width:1000px;float:left;">
<h1>The most interesting item in wow</h1>
<p>There are thousands of interesting items in wow. My favorite one is World shrinker. Its function is 'shrink world'.
Actually, it change character's size, not whole world.
But, it's a basic item that let character's size become bigger and bigger. I have a try that let my character become a giant.
It's due to many kinds of item which can let character become bigger</p>


<a href="http://www.wowhead.com/item=109183/world-shrinker" style="color:red;">World shrinker1</a>
<img src="http://att.bbs.duowan.com/forum/201610/17/072909sku9wkksu9sds7os.jpg" alt="like this" style="height:300px;width:400px;float:center;">
<a href="https://wow.gamepedia.com/Tosselwrench%27s_Shrinker" style="color:red;">World shrinker2</a>
<img src="http://orig10.deviantart.net/f8ec/f/2009/348/b/0/nice_view_from_booty_bay__by_shrinkspell.jpg" style="height:300px;width:400px;float:center;">
</div>

<div id="footer" style="color:black;background-color:yellow;clear:both;text-align:right;">
<p>wolfgang.Ji, 6/22/2018 p3</p>
</div>


<div id="navigation" style="color:black;background-color:white;height:400px;width:800px;">
 <nav>
  <br/>
  <br/>
  <a href="#introduce">introduce</a>|
  <a href="#way">How to make fried chicken</a>|
  <a href="#item">The most interesting item in wow</a>|
 </nav>
</div>

<div id="game">
<table>
<tr>
<th>Game name</th>
<th>developer</th>
<th>publisher</th>
<th>date of issue</th>
<th>chief inspector</th>
</tr>

<tr>
<td>World pf Warcraft</td>
<td>Blizzard</td>
<td>Blizzard</td>
<td>2004Y</td>
<td>Christopher Vincent Metzen</td>
</tr>

<tr>
<td>Granblue fantasy</td>
<td>Cygames and CyDesignation</td>
<td>Cygames</td>
<td>2014Y</td>
<td>Hideo Minaba</td>
</tr>

<tr>
<td>Grand Theft Auto V</td>
<td>Rockstar North etc.</td>
<td>Rockstar Games</td>
<td>9/17/2013</td>
<td>Leslie Benzies</td>
</tr>

<tr>
<td>warframe</td>
<td>Digital Extremes</td>
<td>Digital Extremes</td>
<td>2013Y</td>
<td>Michael Brennan</td>
</tr>

<tr>
<td>Assassin's Creed</td>
<td>Ubisoft Montréal</td>
<td>Ubisoft</td>
<td>2007Y(first)</td>
<td>Patrice Desilets</td>
</tr>

<tr>
<td>Call of duty</td>
<td>IW，Treyarch，Sledgehammer Games</td>
<td>Activision</td>
<td>2003Y(first)</td>
<td>Raven</td>
</tr>

</table>
</div>
</div>

</body>
</html>
